<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../../../css/reset.css"/>
    <link rel="stylesheet" href="../../../css/common.css"/>
    <link rel="stylesheet" href="../../../css/layout.css"/>
    <link rel="stylesheet" href="../../../css/contents.css"/>
</head>
<body>
    <div id="wrap">
       <header id="header" class="header">
           <div class="inbox clear">
               <h1 class="logo"><img src="../../../images/logo.png" alt="로고"></h1>
               <nav id="gnb" class="gnb-wrap menu">
                    <button type="button" class="btn-menu">메뉴 오픈</button>
                    <div class="gnb-box">
                        <ul class="clear">
                            <li><a href="#">메뉴1</a></li>
                            <li><a href="#">메뉴2</a></li>
                            <li><a href="#">메뉴3</a></li>
                        </ul>
                        <button type="button" class="btn-side-close close-box"><span class="txt">닫기</span></button>
                    </div>               
               </nav>
           </div>
       </header>
       <div class="content-wrap">
           <div id="content" class="content">
    
           </div>
           <aside id="side_menu" class="side-menu">
    
           </aside>
       </div>
       <footer id="footer" class="footer">
           footer
       </footer>
    </div>
    <div class="memo-box">
        <ul>
            <li>주로 모바일에서 많이 사용되는 좌/우측 gnb 메뉴</li>
            <li>사용성을 위해서 우측에 많이 사용됨. </li>
            <li>좌측에 사용되는 경우에는 버튼 클릭하여 보여지는 방식이 아닌 상시로 보여지는 경우가 많음. </li>
            <li>추가) 그래도 좌/우측으로 구현해보기</li>            
        </ul>
        <h2>현재 구현 상태</h2>
        <ul>
            <li>현재에는 .btn-menu 라는 클래스를 가진 버튼을 누르면 해당 버튼에 open 클래스가 추가되면서 
                하위에 있는 gnb-box가 보여짐. 스크립트 최소화하고 스타일로 구현하면서 어떻게 보면 안전한 방식으로 작업했다. 
                하지만 태그의 위치 제약이 생김. .btn-menu의 뒤에는 무조건 .gnb-box 라는 클래스가 와야함. 그리고 좌우를 추가하려면
                css 추가해야함. 
            </li>
            <li>만약에 .btn-menu 의 위치가 떨어져 있고, (특별히 떨어져야하는 일은 없긴함) 
                하지만, 위치 제약이 있다는 자체가 유연하지 못한 코드인 것 같아 수정이 필요할 것 같다.
                css 를 사용한 방법이기 때문에 어쩔 수 없이 위치 제약이 생길 수 밖에 없어서 위치 이동을 해야한다면 
                스크립트를 추가로 사용해야한다.
            </li>
        </ul>        
    </div>
    <script>
        
        const SideOpenFunc = function  () {
            const btn = document.querySelector(".btn-menu");
            btn.addEventListener("click",function(e){
                e.target.classList.add("open")
            })
        } 
        const SideCloseFunc = function  () {
            const closebtn = document.querySelectorAll(".close-box")
            closebtn.forEach(function(btn){
                btn.addEventListener("click",function(e){
                    const openBtn = e.target.closest(".gnb-box").previousElementSibling
                    openBtn.classList.remove("open")
                })
            })
        }

        function init() {
            SideOpenFunc()
            SideCloseFunc()
        }
        init()
    </script>
</body>
</html>