<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager Detail</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div id="wrap">
        <h2 class="title">Task Manager</h2>
        <div class="contents">
            <div class="tbl-type02">
                <table>
                    <caption>테이블</caption>
                    <colgroup>
                        <col width="20%"/>
                        <col width="30%"/>
                        <col width="20%"/>
                        <col width="30%"/>
                    </colgroup>
                    <tbody>                      
                        <tr>
                            <th scope="row">제목</th>
                            <td colspan="3">{{taskList[0].title}}</td>
                        </tr>
                        <tr>
                            <th scope="row">작성자</th>
                            <td>{{taskList[0].writer}}</td>                        
                            <th scope="row">상태</th>
                            <td>{{taskList[0].state}}</td>
                        </tr>
                        <tr>
                            <th scope="row">등록일</th>
                            <td>{{taskList[0].enrollDate}}</td>                        
                            <th scope="row">마감일</th>
                            <td>{{taskList[0].endDate}}</td>
                        </tr>                      
                    </tbody>
                </table>
            </div>

            <div class="tbl-type01">
                <table>
                    <caption>테이블</caption>
                    <colgroup>
                        <col width="20%"/>
                        <col width="30%"/>
                        <col width="20%"/>
                        <col width="30%"/>
                    </colgroup>
                    <tbody>
                        
                        <tr>
                            <td colspan="4">
                              <div class="todo-wrap">
                                <ul class="todo-list">
                                  <li v-for="(task,index) in taskDetailList">                    
                                    <span class="inp-chk" :class="todoCheck(task.done)">
                                        <input type="checkbox" name="inp1" :id="'inp'+index">
                                        <label :for="'inp'+index" @click="doneToggle(task.id)"><span>{{index+1}}.</span>                                          
                                          <span>{{task.detail}}</span>
                                        </label>
                                        <button type="button" @click="removeTask(task,index)">&#x00D7;</button>
                                    </span>
                                  </li>
                                </ul>
                              </div>
                              
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" @click="addTaskInput()">할일 추가하기</button>
            <button type="button" @click="updateTaskInput()">할일 수정하기</button>
            <div class="task-wrap" style="display:none">
              <span>할일</span>
              <input type="text" class="inp-type01" v-model="tasks">
              <button type="button" @click="addTodo()">입력</button>
            </div>

            
            

        </div>
    </div>
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#wrap",
            data: function () {
                return {
                    inpId : `inp{{index}}`,
                    tasks : '',
                    curPageNum: 1,
                    totalPageNum: 3,
                    taskList :[
                        {
                            "id" : 1,
                            "title" : "디자인 수정 요청드립니다.",
                            "writer" : "전수영",
                            "state" : "진행중" ,                      
                            "enrollDate" : "2021-05-10" ,
                            "endDate" : "2021-05-11" ,
                            
                        },
                        {
                            "id" : 2,
                            "title" : "퍼블리싱 수정 요청드립니다.",
                            "writer" : "전수영",
                            "state" : "진행중" ,                      
                            "enrollDate" : "2021-05-10" ,
                            "endDate" : "2021-05-11" ,
                        },
                        {
                            "id" : 3,
                            "title" : "기획 수정 요청드립니다.",
                            "writer" : "전수영",
                            "state" : "진행중" ,                      
                            "enrollDate" : "2021-05-10" ,
                            "endDate" : "2021-05-11" ,
                        }
                    ],
                    taskDetailList : [
                      {
                        "id":1,
                        "detail" : "aaa",
                        "done":false
                      }
                    ]
                }
            },
            methods : {
              addTaskInput () {
                document.querySelector(".task-wrap").style.display = "block"
              },
              addTodo () {
                if(this.tasks != "") {
                  this.taskDetailList.push({id:this.taskDetailList.length+1, detail : this.tasks, done :false })
                  this.tasks = ""
                }
              },
              removeTask (task,index) {
                this.taskDetailList.splice(index,1)              

              },
              todoCheck : function (done) {
                if(done) return {check : true}
                else return {check : false}
              },
              doneToggle : function (id) {
                  var index = this.taskList.findIndex(function(item){
                    return item.id === id
                  })
                  this.taskDetailList[index].done = !this.taskDetailList[index].done
              }
            },
            computed : {
                
            }
            
        })
    </script>
</body>
</html>