<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager Detail</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div id="wrap">
        <h2 class="title">Task Manager</h2>
        <div class="contents">
            <div class="tbl-type02">
                <table>
                    <caption>테이블</caption>
                    <colgroup>
                        <col width="20%"/>
                        <col width="30%"/>
                        <col width="20%"/>
                        <col width="30%"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">제목</th>
                            <td colspan="3">수정 요청 드립니다.</td>
                        </tr>
                        <tr>
                            <th scope="row">작성자</th>
                            <td>전수영</td>                        
                            <th scope="row">상태</th>
                            <td>진행중</td>                        
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tbl-type01">
                <table>
                    <caption>테이블</caption>
                    <colgroup>
                        <col width="20%"/>
                        <col width="30%"/>
                        <col width="20%"/>
                        <col width="30%"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">제목</th>
                            <td colspan="3">수정 요청 드립니다.</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                              <div class="inp-chk">
                                  <input type="checkbox" name="inp1" id="inp1" class="check">
                                  <label for="inp1">수정 요청 1</label>            
                              </div>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" @click="addTaskInput()">할일 추가하기</button>
            <div class="task-wrap" style="display:none">
              <input type="text" class="inp-type01" v-model="tasks">
              <button type="button" @click="addTodo()">입력</button>
            </div>

            <div class="todo-wrap">
              <ul class="todo-list">
                <li v-for="task in tasksList2">{{task}}</li>
              </ul>
            </div>
        </div>
    </div>
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#wrap",
            data: function () {
                return {
                    tasks : '',
                    tasksList2 : [],
                    curPageNum: 1,
                    totalPageNum: 3,
                    taskList :[
                        {
                            "id" : 1,
                            "title" : "디자인 수정 요청드립니다.",
                            "writer" : "전수영",
                            "state" : "진행중" ,                      
                            "enrollDate" : "2021-05-10" ,
                            "endDate" : "2021-05-11" ,
                        },
                        {
                            "id" : 2,
                            "title" : "퍼블리싱 수정 요청드립니다.",
                            "writer" : "전수영",
                            "state" : "진행중" ,                      
                            "enrollDate" : "2021-05-10" ,
                            "endDate" : "2021-05-11" ,                        
                        },
                        {
                            "id" : 3,
                            "title" : "기획 수정 요청드립니다.",
                            "writer" : "전수영",
                            "state" : "진행중" ,                      
                            "enrollDate" : "2021-05-10" ,
                            "endDate" : "2021-05-11" ,                     
                        }
                    ]
                }
            },
            methods : {
              addTaskInput () {
                document.querySelector(".task-wrap").style.display = "block"
              },
              addTodo () {
                this.tasksList2.push(this.tasks)

              }
            },
            computed : {
                
            }
            
        })
    </script>
</body>
</html>