<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>responsive_nav_drawer</title>
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/contents.css"/>
</head>
<body>
    <div id="wrap">
       <header id="header">
           <nav id="gnb"></nav>
       </header>
       <div id="content">

       </div>
       <aside id="side_menu">

       </aside>
       <footer id="footer">
           
       </footer>
    </div>
</body>
</html>