<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../../css/reset.css"/>
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" href="../../css/contents.css"/>
</head>
<body>
    <div id="wrap">
       <header id="header" class="header">
           <div class="inbox clear">
               <h1 class="logo"><img src="../../images/logo.png" alt="로고"></h1>
               <nav id="gnb" class="gnb-wrap menu">
                    <button type="button" class="btn-menu">메뉴 오픈</button>
                    <div class="gnb-box">
                        <ul class="clear">
                            <li><a href="#">메뉴1</a></li>
                            <li><a href="#">메뉴2</a></li>
                            <li><a href="#">메뉴3</a></li>
                        </ul>
                        <button type="button" class="btn-side-close close-box"><span class="txt">닫기</span></button>
                    </div>               
               </nav>
           </div>
       </header>
       <div class="content-wrap">
           <div id="content" class="content">
    
           </div>
           <aside id="side_menu" class="side-menu">
    
           </aside>
       </div>
       <footer id="footer" class="footer">
           footer
       </footer>
    </div>

    <script>
        
        const SideOpenFunc = function  () {
            const btn = document.querySelector(".btn-menu");
            btn.addEventListener("click",function(e){
                e.target.classList.add("open")
            })
        } 
        const SideCloseFunc = function  () {
            const closebtn = document.querySelectorAll(".close-box")
            closebtn.forEach(function(btn){
                btn.addEventListener("click",function(e){
                    const openBtn = e.target.closest(".gnb-box").previousElementSibling
                    openBtn.classList.remove("open")
                })
            })
        }

        function init() {
            SideOpenFunc()
            SideCloseFunc()
        }
        init()
    </script>
</body>
</html>